# this is a configuration file for the vampires live! automator script
# this holds all the goodies you need to connect to your account... cookies

# cookies (i got my values from using tcpdump-android ...)
asc = hurp...
st = durp...

# other options, as needed...
